<a href="https://colab.research.google.com/github/salimunlu47/data-science-libraries/blob/main/Jose_Portilla_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
#help(pd.Series)

In [ ]:
myindex = ["USA","Canada","Mexico"]
mydata = [1776,1867,1821]
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [ ]:
type(myser)

pandas.core.series.Series

In [ ]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [ ]:
myser[0]

1776

In [ ]:
myser["USA"]

1776

In [ ]:
myser = pd.Series(mydata, myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [ ]:
ages = {"Sam":5, "Frank":10, "Spike":7}

In [ ]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64