<a href="https://colab.research.google.com/github/salimunlu47/data-science-libraries/blob/main/Jose_Portilla_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#help(pd.Series)

In [4]:
myindex = ["USA","Canada","Mexico"]
mydata = [1776,1867,1821]
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [5]:
type(myser)

pandas.core.series.Series

In [6]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
myser[0]

1776

In [8]:
myser["USA"]

1776

In [9]:
myser = pd.Series(mydata, myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
ages = {"Sam":5, "Frank":10, "Spike":7}

In [11]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [12]:
q1 = {"Japan":80, "China":450, "India":200, "USA":250}
q2 = {"Brazil":100, "China":500, "India":210, "USA":260}

In [13]:
sales_q1 = pd.Series(q1)

In [14]:
sales_q2 = pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_q1["Japan"] #more readable

80

In [19]:
sales_q1[0]

80

In [20]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [21]:
[1,2] * 2

[1, 2, 1, 2]

In [23]:
np.array([1,2]) * 2

array([2, 4])

In [24]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [25]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [26]:
sales_q1.add(sales_q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64