<a href="https://colab.research.google.com/github/salimunlu47/data-science-libraries/blob/main/Jose_Portilla_Pandas_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Useful Methods

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/salimunlu47/data-science-libraries/main/datasets/tips.csv"
df = pd.read_csv(url)
df.head()

   total_bill   tip     sex  ...          Payer Name         CC Number Payment ID
0       16.99  1.01  Female  ...  Christy Cunningham  3560325168603410    Sun2959
1       10.34  1.66    Male  ...      Douglas Tucker  4478071379779230    Sun4608
2       21.01  3.50    Male  ...      Travis Walters  6011812112971322    Sun4458
3       23.68  3.31    Male  ...    Nathaniel Harris  4676137647685994    Sun5260
4       24.59  3.61  Female  ...        Tonya Carter  4832732618637221    Sun2251

[5 rows x 11 columns]

In [3]:
def simple(num):
  return num*2

In [4]:
lambda num: num*2

In [5]:
df["total_bill"].apply(simple)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [6]:
df["total_bill"].apply(lambda num: num*2)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [7]:
def quality(total_bill,tip):
  if tip/total_bill > 0.25:
    return "Generous"
  else:
    return "Other"

In [8]:
quality(16.99,1.01)

'Other'

In [9]:
df["Quality"]=df[["total_bill", "tip"]].apply(lambda df: quality(df["total_bill"],df["tip"]),axis=1)

In [10]:
df["Quality"] = np.vectorize(quality)(df["total_bill"],df["tip"])

In [11]:
df.head()

   total_bill   tip     sex  ...         CC Number Payment ID Quality
0       16.99  1.01  Female  ...  3560325168603410    Sun2959   Other
1       10.34  1.66    Male  ...  4478071379779230    Sun4608   Other
2       21.01  3.50    Male  ...  6011812112971322    Sun4458   Other
3       23.68  3.31    Male  ...  4676137647685994    Sun5260   Other
4       24.59  3.61  Female  ...  4832732618637221    Sun2251   Other

[5 rows x 12 columns]

In [12]:
import timeit

In [13]:
# code snippet to be executed only once 
setup = '''
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/salimunlu47/data-science-libraries/main/datasets/tips.csv")
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"
'''

In [14]:
# code snippet whose execution time is to be measured 
stmt_one = ''' 
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''

stmt_two = '''
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
'''

In [15]:
timeit.timeit(setup=setup, stmt=stmt_one, number=1000)

4.670220127999983

In [16]:
timeit.timeit(setup=setup, stmt=stmt_two, number=1000)

0.3960949970000911