<a href="https://colab.research.google.com/github/salimunlu47/data-science-libraries/blob/main/Jose_Portilla_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
#help(pd.Series)

In [4]:
myindex = ["USA","Canada","Mexico"]
mydata = [1776,1867,1821]
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [5]:
type(myser)

pandas.core.series.Series

In [6]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
myser[0]

1776

In [8]:
myser["USA"]

1776

In [9]:
myser = pd.Series(mydata, myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
ages = {"Sam":5, "Frank":10, "Spike":7}

In [11]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [12]:
q1 = {"Japan":80, "China":450, "India":200, "USA":250}
q2 = {"Brazil":100, "China":500, "India":210, "USA":260}

In [13]:
sales_q1 = pd.Series(q1)

In [14]:
sales_q2 = pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
sales_q1["Japan"] #more readable

80

In [18]:
sales_q1[0]

80

In [19]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
[1,2] * 2

[1, 2, 1, 2]

In [21]:
np.array([1,2]) * 2

array([2, 4])

In [22]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [23]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [24]:
sales_q1.add(sales_q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

# **DATA FRAMES**

In [25]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [26]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [27]:
myindex = ["CA", "NY", "AZ", "TX"]

In [28]:
mycolumns = ["Jan", "Feb", "Mar"]

In [31]:
df = pd.DataFrame(data=mydata)
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [32]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)

In [33]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [35]:
pwd

'/content'

In [37]:
from google.colab import files
uploaded = files.upload()

Saving tips.csv to tips.csv

In [40]:
df = pd.read_csv("tips.csv")

In [42]:
df.head()

   total_bill   tip     sex  ...          Payer Name         CC Number Payment ID
0       16.99  1.01  Female  ...  Christy Cunningham  3560325168603410    Sun2959
1       10.34  1.66    Male  ...      Douglas Tucker  4478071379779230    Sun4608
2       21.01  3.50    Male  ...      Travis Walters  6011812112971322    Sun4458
3       23.68  3.31    Male  ...    Nathaniel Harris  4676137647685994    Sun5260
4       24.59  3.61  Female  ...        Tonya Carter  4832732618637221    Sun2251

[5 rows x 11 columns]